.button {
  background-color: #3498db;
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2980b9;
}
