.button {
  background-color: #3498db;
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 10px;
  font-size: 0.8rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Opcional: agrega negrita al texto */
  text-transform: uppercase; /* Opcional: convierte el texto a mayúsculas */
}

.button:hover {
  background-color: #2980b9;
}
