.HomePage {
  font-family: Arial, sans-serif;
}

.adoption-section {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.dogContainer {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  width: 80%;
}

.dogDescripcion {
  margin: 10px 18px;
}

.dogItem {
  flex: 0 0 33.33%;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.dogImage {
  width: 80%;
  margin-top: 10px;
  height: 50%;
  border-radius: 8px;
}

.dogName {
  font-size: 1.2em;
  margin: 10px 0;
}

.dogInfo {
  font-size: 1em;
  margin: 5px 0;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.donationsBanner {
  padding: 20px;
  background-color: #ffefef;
  text-align: center;
}

.donationButton {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.donationButton:hover {
  background-color: #e04343;
}

.donationsSection {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: left;
}

.donationsSection h3 {
  margin-top: 0;
}

.donationsSection ul {
  list-style-type: disc;
  padding-left: 20px;
}
