.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.navbar-select-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.search-bar-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.filters-container {
  display: flex;
  gap: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homepage-card-container {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .homepage-card-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .homepage-card-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .homepage-card-container {
    width: 100%;
    box-sizing: content-box;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .homepage-card-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) and (min-width: 0px) {
  .homepage-card-container {
    width: 100%;
    box-sizing: border-box;
  }
}
