.pagination button {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

.pagination button:hover {
  background-color: #ddd;
}
